<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="staticData">
      <section name="phoneSettings" type="Antix.Data.Static.PhoneConfigurationSection, Sandbox.SOA.Common" requirePermission="false" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <staticData>
    <phoneSettings>
      <countries>
        <clear />
        <add country="BO" idd="0014" ndd="014" cd="0" lengths="7,8,9,10" />
        <add country="FR" idd="00" ndd="0" cd="33" lengths="7,8,9,10" />
        <add country="GB" idd="00" ndd="0" cd="44" lengths="7,8,9,10" />
        <add country="US" idd="00" ndd="0" cd="1" lengths="7,8,9,10" />
      </countries>
    </phoneSettings>
  </staticData>
</configuration>

