@using Sandbox.SOA.Portal.Helpers
@using Sandbox.SOA.Portal.Resources

@{
    ViewBag.Title = "Home";
}

@section breadcrumb{

    @(Html.Breadcrumb()
          .Add("Home", Url.Home())
          .Render())
}


<div class="panel-body">
    <p>@SiteResources.Tag</p>
    <p>Its built using the following components</p>
    <ol>
        <li>ASP.NET WebApi 2</li>
        <li>ASP.NET MVC 5</li>
        <li>Bootstrap 3</li>
    </ol>
</div>