@using Sandbox.SOA.Portal.Helpers

@{
    ViewBag.Title = "Service Oriented Architechture (SOA)";
}

@section breadcrumb{

    @(Html.Breadcrumb()
          .Add("Home", Url.Home())
          .Render())
}


<div class="panel-body">
    <p>This site is an example of a Service Oriented Architecture</p>
    <p>Its built using the following components</p>
    <ol>
        <li>ASP.NET WebApi 2</li>
        <li>ASP.NET MVC 5</li>
        <li>Bootstrap 3</li>
    </ol>
</div>