@model PersonRowViewModel

<td><a href="@Url.Action("Edit", new {identifier = Model.Identifier})">@Model.Name.Full</a></td>
<td>@Html.DisplayFor(m => Model.MobilePhone)</td>
<td>@Html.DisplayFor(m => Model.DefaultAddress)</td>
