@model Sandbox.SOA.Common.Contracts.People.PersonSearchResult

<table class="table">
    <thead><tr>
               <th>Name</th>
               <th>Phone Number</th>
               <th>Primary Address</th>
           </tr></thead>
    <tbody>
        @foreach (var model in Model.Items)
        {
            <tr>
                @Html.EditorFor(m => model)
            </tr>
        }
    </tbody>
</table>
