@model Sandbox.SOA.Common.Contracts.People.PersonInfo

<form action="@Url.PersonCreate()"
      method="POST"
      role="form" class="form-horizontal">
    <div class="panel-body">
    
        @Html.EditorFor(m => m.Name)

    </div>
    <div class="panel-footer">
        @Html.FormCreate(Url.People())
    </div>
</form>
