@model PersonDeleteViewModel

<form action="@Url.PersonDelete(Model.Identifier)"
      method="POST"
      role="form" class="form-horizontal">
    <div class="panel-body">
    
        @Html.DisplayFor(m => m.Name)

    </div>
    <div class="panel-footer">
        @Html.FormDelete(Url.PersonEdit(Model.Identifier))
    </div>
</form>
