@model Sandbox.SOA.Portal.Models.Person.PersonDeleteViewModel

<form action="@Url.PersonDelete(Model.Identifier)"
      method="POST"
      role="form" class="form-horizontal">
    <div class="panel-body">
    
        @Html.DisplayFor(m => m.Name)

    </div>
    <div class="panel-footer">
        @Html.EditorFor(m => m, "FormFooter")
    </div>
</form>
