@model Sandbox.SOA.Portal.Models.Person.PersonEdit

@{
    ViewBag.Title = "Person Edit";
}

@section breadcrumb{

    @(Html.Breadcrumb()
          .Add("Home", Url.Home())
          .Add("People", Url.People())
          .Add("Edit", Url.PersonEdit(Model.Identifier))
          .Render())
}

<div class="page-header">
    <h2>Person Edit</h2>
</div>

@Html.Partial("EditForm")
