@model Sandbox.SOA.Portal.Models.Person.PersonEditViewModel

<form action="@Url.PersonEdit(Model.Identifier)"
      method="POST"
      role="form" class="form-horizontal">
    <div class="panel-body">
    
        @Html.EditorFor(m => m.Name)
        @Html.EditorFor(m => m.MobilePhone)

    </div>
    <div class="panel-footer">
        @Html.EditorFor(m => m, "FormFooter")
    </div>
</form>
