@using Sandbox.SOA.Portal.Helpers
@model Sandbox.SOA.Portal.Models.People.PersonGridViewModel

<div class="panel-body clearfix">
    <form action="@Url.People()"
          method="GET"
          role="form" class="form-inline pull-right">
        @Html.EditorFor(m=>m.Criteria, null, "")
    </form>
</div>

<div class="panel-body">
    @Html.EditorForModel()    
</div>

<div class="panel-footer clearfix">
    <p class="pull-right">
        <a href="@Url.PersonCreate()" data-toggle="modal" data-target="#modal" data-cache="false" class="btn btn-default">Create</a>
    </p>
</div>
